@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --brand-colour: #0673EF; 
}
html {
    scroll-behavior: smooth;
}
.active {
    color: var(--brand-colour) !important;
    text-decoration: underline;
}
.btn-generic {
    padding: 18px 24px;
    background-color: var(--brand-colour);
    border-radius: 32px;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-trans, .btn-trans-w {
    padding: 18px 24px;
    border-radius: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-trans {
    outline: 1px solid var(--brand-colour);
    color: var(--brand-colour);
}
.btn-trans-w {
    outline: 1px solid #fff;
    color: #fff;
}
.grid-container {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 16px;
}
.header-sticky {
    padding-block: 0px !important;
    transition: .4s !important;
}
header {
    transition: .4s !important;
}
.bx-shadw {
    box-shadow: 0px 4px 20px 0px rgba(6, 6, 11, 0.05);
}